#myDIV {
    flex:1;
    cursor: pointer; /* change the cursor to make it look like a link */
    height:75px;
    width: 10px;
    display: grid;
    grid-template-columns: 75px auto;
    gap: 8px;
<<<<<<< HEAD
    padding: 5px;
}

=======
    padding: 20px;
}
>>>>>>> origin/master
#myDIV div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: 11px;
}

.profileImage {
    grid-row: 1 / span 2;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 10px; /* padding between image itself and the circle */
}
.profileImage:hover{
        /* change the background color when a user hovers */
        color: rgb(40, 39, 39);
        background-color: rgb(179, 178, 178)!important;
}

.chatPrev {
    grid-row: 2;
    /*
    padding is amount of space between text/content and border of element
    */
    padding: 18px;
    border: 1px solid black;
    border-radius: 30px;
    width: 90%;

    overflow: hidden; 
}

.matchName {
    grid-row: 1;
    padding: 8px;
    border: 1px solid black;
<<<<<<< HEAD
    border-radius: 30px;
    width: 35%;
    /*font & text formating*/
    font-weight: bold;
    font-size: large;
    /* following is to handle text overflow: */
    /* see: https://css-tricks.com/almanac/properties/t/text-overflow/ */
    white-space: nowrap;
=======
    /* width: 300px; */
    /* white-space: nowrap;  <-- Do not write this, it breaks the footer*/
>>>>>>> origin/master
    overflow: hidden;
}

.chat:hover{
    /*
    color: rgb(40, 39, 39);
    background-color: rgb(179, 178, 178)!important;
    width: 75%;
    */
}