body {
    background-color:#ffffff;
}

/*Useful: https://www.w3schools.com/cssref/pr_grid-row.php */
/* useful https://webdesign.tutsplus.com/tutorials/how-to-implement-infinite-scrolling-with-javascript--cms-37055*/
#myDIV {
    height:50px;
    display: grid;
    grid-template-columns: 50px 300px;
    gap: 4px;
    background-color: #2196F3;
    padding: 10px;
  }
#myDIV div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: 11px;
}
.chatPrev {
    grid-row: 2;
    padding: 8px;
}
.matchName {
    grid-row: 1;
    padding: 4px;
}

.profileImage {
    grid-row: 1 / span 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 10px;
}