.Matches {

}

.listMatches {
  /* use flexbox to create a tiling area with a row of match articles inside */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:20px;

  /* some spacing around the entire contents of the frame */
  margin-left: 20%;
  margin-right: 10%;
  display: inline-flex;
}