.Matches {

}

.listMatches {
  /* use flexbox to create a tiling area with a row of match articles inside */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: scroll;
  text-overflow: "ellipsis";

  /* some spacing around the entire contents of the frame */
  margin-left: 0%;
  margin-right: 0%;
}

.noMatches{
  text-align: center;
  color: darkgray;
  position: absolute;
  top: 15%;
  font-size: 20px;
  cursor:default;
}