form {
  display: flex;
}
  
.searchBar {
  /* use flexbox to create a tiling area with a row of match articles inside */
  display: block;
  width: 100%;
  margin-left: 2%;
  padding-bottom: 15px;
  /* some spacing around the entire contents of the frame */
}
.searchBar input{
  width: 100%;

}
.searchBar button{
  float: left;
  cursor: pointer;
  color:black;
}

p.SearchBar-feedback {
  color: red;
  background-color: pink;
  padding: 20px;
}

@media screen and (max-width: 300px) {
  
  .searchBar{
    float: none;
  }
}