.listingPage {
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    padding: 30px 50px;
}
