.option{
  color: white;
  background-color: #1565C0;
  border: 2px solid #1565C0;
  border-radius: 5px;
  box-shadow: 5px;
  display: table;

  width: 98%;
  height: 35vh;
  overflow: hidden;
  margin-bottom: 10px;
  text-align: center;
}

.option .title{
  margin-top: 40%;
}

.focused .title{
  margin-top: 5px;
  transition: all 0.5s;
}

.focused{
  height: 60vh;
  margin-left: 0;
  background-color: white;
  color: black;
  transition: all 0.5s;
}

#selling.focused{
  transform: translate(0px, -37vh);
  height: 60vh;
  transition-property: transform, height;
  transition-duration: 0.5s, 0.5s;
  transition-delay: 0s, 0.5s;
}

.hidden{
  opacity: 0;
  transition: all 0.5s;
}

.AccountCreation{
  opacity: 0;
}

.focused > .title > .AccountCreation{
  opacity: 1;
  transition: all 0.5s;
}