.option{
  color: white;
  background-color: #1565C0;
  border-radius: 5px;
  box-shadow: 5px;
  display: table;

  width: 80vmin;
  height: 80vmin;

  padding: 5px;
  margin: 10px;
  text-align: center;
}

.option .title{
  margin-top: 40%;
}

.option.focused{
  width: 100%;
  height: 90vh;
  margin-left: 0;
  transition: all 0.5s;
}

#selling.focused{
  transform: translate(0px, -90vmin);
  transition: transform 0.5s;
}

.focused + .option{
  display: none;
}