.swipe {
  position: absolute;
}
.hidden {
  display: none;
  visibility: hidden;
}

.discover {
  background-color: aqua;
  overflow: hidden;
  max-width: 100%;
}
.discoverTinderCard {
  overflow: hidden;
}
