.Header {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    margin-bottom: 5px;
}

.H1{
    text-align: center;
    font-size: calc(15px + 3vmin);
}

/* *{
    box-sizing: border-box;
    font-size: calc(5px + 2vmin);
    font-weight: 400;
} */

/* html, body{
    margin: 0;
} */

/* img{
    width: 100%;
    height: auto;
} */

.FullName{
    margin: calc(20px + 3vmin);
}

.Username{
    margin: calc(20px + 3vmin);
}

.PassWord{
    margin: calc(20px + 3vmin);
}

.EmailAddress{
    margin-top: calc(20px + 3vmin);
    margin-bottom: calc(10px + 2vmin);
}

.UploadPP{
    font-size: calc(6px + 1vmin);
    margin: calc(10px + 1vmin);
}

.UploadButton{
    font-size: calc(5px + 1vmin);
    margin: calc(5px + 1vmin);
}

.Country, .State, .City, .Address{
    font-size: calc(2px + 2vmin);
    margin: calc(5px + 1vmin);
}

.CountryInput, .StateInput, .CityInput, .AddressInput{
    font-size: calc(1px + 2vmin);
}

.CreateButton{
    font-size: calc(10px + 1vmin);
    font-weight: 300;
    margin: calc(10px + 1vmin);
}

.CreateAccount{
    text-align: center;
}

::placeholder{
    color: #a9a9a9;
    font-weight: 100;
}
