.discoverListingFrame {
  background-color: white;
  box-sizing: border-box;
  width: 91%;
  height: 603px;
  margin: 20px;
  padding: 20px;
}
.discoverListingFullView {
  position: relative;
  width: 100%;
  height: 580px;
  margin: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.backButton {
  position: absolute;
  color: black;
  padding: 0;
  margin: 0;
  font-size: 48px;
}
.discoverListingFullViewHeader {
  padding-left: 10px;
  margin-bottom: 15px;
}
.headerListingText {
  padding-left: 25px;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  width: 80%;
  text-overflow: ellipsis;

  white-space: nowrap;
  color: black;
}
.discoverImageCarousel {
  margin-bottom: 20px;
}
.discoverListingInfo {
  transform: translateY(0px);
  background: white;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  height: auto;
}
.discoverListingInfoText {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin: 0;
  line-height: 0.5;
}
