.discoverListingFrame {
  background-color: lightgray;
  box-sizing: border-box;
  width: 91%;
  height: 603px;
  margin: 20px;
  padding: 20px;
  overflow-y: scroll;
}
.discoverImageCarousel {
  margin-bottom: 20px;
}
