.listingInfo {
  width: 319px;
  height: 67px;
  background-color: darkgray;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px black solid;
  padding: 10px;
}
.listingInfoCategoryText {
  font-size: 17px;
  font-weight: 600;
  font-family: Verdana;
  margin: 0;
  margin-bottom: 2px;
  border: 0;
  padding: 0;
}
.listingInfoCategoryData {
  font-size: 16px;
  font-family: Verdana;
  margin: 0;
  border: 0;
  padding: 0;
}
